<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <form [formGroup]="loginForm" (submit)="login()">
            <div class="d-flex justify-content-between align-items-end mb-4">
              <h3 class="mb-0"><b>Login</b></h3>
            </div>
            <div class="form-group mb-3">
              <div *ngIf="loginForm.controls['userNameV'].invalid && (loginForm.controls['userNameV'].touched || loginForm.controls['userNameV'].dirty )">
                <span *ngIf="loginForm.controls['userNameV'].errors?.['required']">Required field</span>
              </div>
              <!-- <div data-mdb-input-init class="form-outline mb-4"> -->
                <label class="form-label" for="userNameV">Username</label>
                <input type="text" id="userNameV" formControlName="userNameV" placeholder="Enter your username" class="form-control" />
              <!-- </div> -->
            </div>
            <div class="form-group mb-3">
              <div *ngIf="loginForm.controls['PasswordV'].invalid && (loginForm.controls['PasswordV'].touched || loginForm.controls['PasswordV'].dirty )">
                <span *ngIf="loginForm.controls['PasswordV'].errors?.['required']">Required field</span>
              </div>
              <!-- <div data-mdb-input-init class="form-outline mb-4"> -->
                <label class="form-label" for="PasswordV">Password</label>
                <input type="password" id="PasswordV" formControlName="PasswordV"  placeholder="Enter your password" class="form-control" />
              <!-- </div> -->
            </div>
            <div class="d-flex mt-1 justify-content-between">
              <div class="form-check">
                <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
                <label class="form-check-label text-muted" for="customCheckc1">Keep me sign in</label>
              </div>
              <h5 class="text-secondary f-w-400"><a href="javascript:">Forgot Password?</a></h5>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright ©
            <a href="https://codedthemes.com/" target="_blank">WareHouse Management</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="" target="_blank">Home</a></li>
            <li class="list-inline-item"><a href="" target="_blank">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="" target="_blank">Contact us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
